body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;
}

.score {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    gap: 5px;
}

.score-player {
    margin-right: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game-button {
    width: 200px;
    height: 200px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    margin: 0 auto;
    margin-top: 24px;
    font-size: 32px;
    font-weight: bold;
}